@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">

		<!-- Content old -->
		<article>
			<header class="major">
				<h2>Добро пожаловать</h2>
				<p>Строй своё будущее вместе с нами</p>
			</header>
			<span class="image-featuered">
				<img src="~/images/8.png" alt="welcome"/>
			</span>
		</article>
	</div>
</div>