@inject IConfiguration config
@{
	AppConfig? appConfig = config.GetSection("Project").Get<AppConfig>();
}

<!-- Header Wrapper -->
<div id="header-wrapper">
	<div class="container">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<h1>
					<a asp-area="" asp-controller="Home" asp-action="Index" id="logo">
						@appConfig?.Company.CompanyName
					</a>
				</h1>

				@* TODO VievComponent*@

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="#">Dropdown</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li>
									<a href="#">Phasellus consequat</a>
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Phasellus consequat</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
									</ul>
								</li>
								<li><a href="#">Veroeros feugiat</a></li>
							</ul>
						</li>
						<li class="current_page_item"><a href="left-sidebar.html">Left Sidebar</a></li>
						<li><a href="right-sidebar.html">Right Sidebar</a></li>
						<li><a href="no-sidebar.html">No Sidebar</a></li>
					</ul>
				</nav>

			</div>
		</header>

	</div>
</div>