<!DOCTYPE HTML>
<html>
<head>
	@await Html.PartialAsync("_MetaPartial");
	@await Html.PartialAsync("_CssPartial");
</head>
<body class="left-sidebar is-preload">
	<div id="page-wrapper">
		@await Html.PartialAsync("_HeaderPartial");

		<!-- Main Wrapper -->
		<div id="main-wrapper">
			<div class="wrapper style2">
				<div class="inner">
					<div class="container">
						<div class="row">

							@RenderBody();
						</div>
					</div>
				</div>
			</div>

			@await Html.PartialAsync("_RecentPartial");
		</div>

		@await Html.PartialAsync("_FooterPartial");
	</div>

	@await Html.PartialAsync("_ScriptsPartial");
</body>
</html>